* {
    margin: 0;
    padding: 0;
  }

  /* Estilos generales */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333; /* Fondo gris oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Contenedor principal (ocupa toda la página) */
  .contenedor {
    width: 100%; /* Ocupa el 100% del ancho */
    height: 100%; /* Ocupa el 100% del alto */
    background-color: transparent; /* Fondo transparente */
    position: relative;
    overflow: auto;
  }
  
  /* Forma superior (gris) */
  .forma-superior {
    width: 100%;
    height: 30%; /* Altura relativa al contenedor */
    background-color: #f69c04; /* Gris más claro */
    border-radius: 50% 50% 0 0;
    position: relative;
  }
  
  /* Forma central (naranja) */
  .forma-central {
    width: 100%;
    height: 40%; /* Altura relativa al contenedor */
    background-color: #ff4444; /* Naranja */
    position: relative;
  }
  
  /* Forma inferior (roja) */
  .forma-inferior {
    width: 100%;
    height: 30%; /* Altura relativa al contenedor */
    background-color: #f69c04; /* Rojo */
    border-radius: 0 0 50% 50%;
    position: relative;
  }
  
  /* Separador superior */
  .separador {
    background-color: #333;
    width: 100%; /* Ancho completo */
    height: 50px; /* Altura ajustable */
    position: relative;
  }

  .config-img{
      float: left;
      width: 750px;
      height: 325px;
      mask-image:linear-gradient(
      right, 
    black 70%,
      transparent
      );
      margin-right: 6.5rem;
      margin-left: 0.5rem;
      border-bottom-left-radius:   1rem;
      border-top-left-radius: 1rem;
      border-bottom-right-radius:1rem;
      border-top-right-radius:1rem;
  }

    .logo{
        width: 20%;
        height: 58%;
        margin-left: 41%;
        margin-top: 10%; 
        border-bottom-right-radius:1rem;
        border-top-right-radius:1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius:1rem;
    }

    .boton{
      
    }
  
  /* Diseño responsivo para móviles */
  @media (max-width: 768px) {
    .forma-superior,
    .forma-inferior {
      height: 25%; /* Altura reducida en móviles */
    }
  
    .forma-central {
      height: 60%; /* Altura aumentada en móviles */
    }
  
    .config-img{
      height: 40%; /* Altura aumentada en móviles */
      width: 96%;
      top: 25%; /* Posición ajustada en móviles */
      bottom: 4%;
      float: none;
    }
  }